* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

*::before,
*::after {
   box-sizing: border-box;
}

::placeholder {
   color: transparent;
}

html,
body {
   font-size: 16px;
   text-rendering: optimizeLegibility;
   text-size-adjust: 100%;
   -webkit-font-smoothing: antialiased;
   -webkit-text-size-adjust: 100%;
   -webkit-tap-highlight-color: transparent;
}

body {
   font-family: system-ui, sans-serif;
   color: #202124;
   display: grid;
   place-items: center;
}

ul,
ol {
   list-style: none;
}

button {
   position: relative;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   border: none;
   outline: none;
   background: transparent;
   cursor: pointer;
   text-decoration: none;
   user-select: none;
   appearance: none;
   -webkit-font-smoothing: antialiased;
   -webkit-user-select: none;
   -webkit-apperance: none;
   -webkit-text-decoration: none;
   -moz-osx-font-smoothing: grayscale;
   -moz-user-select: none;
   -ms-user-select: none;
}

form {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   max-width: 450px;
   width: 100%;
   background: #fff;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   border-radius: .25rem;
   padding: 1.25rem;
}

fieldset {
   border: none;
   outline: none;
   display: flex;
   flex-direction: column;
   gap: 1.25rem;
}

legend {
   font-size: .75rem;
   font-weight: 600;
   text-transform: uppercase;
   letter-spacing: .02em;
   color: #202124;
   opacity: .6;
   display: block;
   margin-bottom: 1rem;
}

.form-control {
   display: block;
   border-radius: .25rem;
   position: relative;
   width: 100%;
   height: 3.5rem;
   margin-bottom: .75rem;
}

.form-control input[type="text"],
.form-control input[type="email"],
.form-control input[type="tel"],
.form-control input[type="url"],
.form-control input[type="password"] {
   width: 100%;
   height: 100%;
   padding: .75rem .75rem .875rem;
   border-radius: .25rem;
   font-size: 1rem;
   border: 1.5px solid #ccc;
   outline: none;
   transition: .15s;
   letter-spacing: .02em;
   position: absolute;
   top: 0;
   left: 0;
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
}

.form-control label {
   position: absolute;
   padding-left: .125rem;
   padding-right: .125rem;
   font-size: 1rem;
   letter-spacing: .01em;
   font-weight: 400;
   top: 1.1rem;
   left: .65rem;
   transition: .15s;
   background: #fff;
   color: rgba(32, 33, 36, .5);
   z-index: 2;
}

.form-control .material-symbols-rounded {
   font-size: 1.25rem;
   display: inline-flex;
   align-items: center;
   background: none;
   outline: none;
   border: none;
   position: absolute;
   color: #202124;
   opacity: .5;
   cursor: pointer;
   top: 50%;
   right: .65rem;
   transform: translateY(-50%);
}

.form-control .helper-text {
   position: absolute;
   bottom: -1rem;
   left: .75rem;
   font-size: .7rem;
   font-weight: 400;
   letter-spacing: .03em;
   color: #b00020;
   display: inline-block;
   visibility: hidden;
}

.form-control input[type="text"]:focus,
.form-control input[type="email"]:focus,
.form-control input[type="tel"]:focus,
.form-control input[type="url"]:focus,
.form-control input[type="password"]:focus {
   border: 1.5px solid #1a73e8;
}

.form-control input[type="text"]:focus + label,
.form-control input[type="email"]:focus + label,
.form-control input[type="tel"]:focus + label,
.form-control input[type="url"]:focus + label,
.form-control input[type="password"]:focus + label {
   top: -.4rem;
   left: .65rem;
   color: #1a73e8;
   font-weight: 600;
   font-size: .75rem;
}

.form-control input[type="text"]:not(:placeholder-shown) + label,
.form-control input[type="email"]:not(:placeholder-shown) + label,
.form-control input[type="tel"]:not(:placeholder-shown) + label,
.form-control input[type="url"]:not(:placeholder-shown) + label,
.form-control input[type="password"]:not(:placeholder-shown) + label {
   top: -.4rem;
   left: .65rem;
   font-weight: 600;
   font-size: .75rem;
}

.textarea-control {
   display: block;
   border-radius: .25rem;
   position: relative;
   width: 100%;
   height: 8rem;
   margin-bottom: .5rem;
}

.textarea-control textarea {
   width: 100%;
   height: 100%;
   padding: .75rem .75rem .875rem;
   border-radius: .25rem;
   font-size: 1rem;
   border: 1.5px solid #ccc;
   outline: none;
   transition: .15s;
   resize: none;
   position: absolute;
   top: 0;
   left: 0;
   font-family: 'system-ui', sans-serif;
   letter-spacing: .02em;
   color: #202124;
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
}

.textarea-control label {
   position: absolute;
   padding-left: .125rem;
   padding-right: .125rem;
   font-size: 1rem;
   letter-spacing: .01em;
   font-weight: 400;
   top: .825rem;
   left: .65rem;
   transition: .15s;
   background: #fff;
   color: rgba(32, 33, 36, .5);
}

.textarea-control .character-counter {
   position: absolute;
   right: .5rem;
   bottom: .5rem;
   z-index: 10;
   font-size: .65rem;
   opacity: .35;
   color: #202124;
   z-index: 2;
}

.textarea-control textarea:focus {
   border: 1.5px solid #1a73e8;
}

.textarea-control textarea:focus + label {
   top: -.4rem;
   left: .65rem;
   color: #1a73e8;
   font-weight: 600;
   font-size: .75rem;
}

.textarea-control textarea:not(:placeholder-shown) + label {
   top: -.4rem;
   left: .65rem;
   font-weight: 600;
   font-size: .75rem;
}

.checkbox-control,
.radio-control {
   display: flex;
   align-items: center;
   gap: .75rem;
   position: relative;
   width: 100%;
   margin-bottom: .5rem;
}

.checkbox-control label,
.radio-control label {
   display: flex;
   align-items: center;
   font-size: 1rem;
   font-weight: 400;
   cursor: pointer;
   color: #202124;
}

.checkbox-control input[type="checkbox"],
.radio-control input[type="radio"] {
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   font-size: 1.625rem;
   color: #202124;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}

.checkbox-control input[type="checkbox"]::before {
   content: '\e835';
   font-family: 'Material Symbols Rounded';
   color: #ccc;
}

.radio-control input[type="radio"]::before {
   content: '\e836';
   font-family: 'Material Symbols Rounded';
   color: #ccc;
}

.checkbox-control input[type="checkbox"]:checked,
.radio-control input[type="radio"]:checked {
   color: #1a73e8;
}

.checkbox-control input[type="checkbox"]:checked::before {
   content: '\e834';
   font-family: 'Material Symbols Rounded';
   font-variation-settings: 'FILL' 1;
   color: #1a73e8;
}

.radio-control input[type="radio"]:checked::before {
   content: '\e837';
   font-family: 'Material Symbols Rounded';
   color: #1a73e8;
}

.switch-control {
   display: flex;
   align-items: center;
   gap: .75rem;
   position: relative;
   width: 100%;
   margin-bottom: .5rem;
}

.switch-control:last-of-type {
   margin-bottom: 0;
}

.switch-control label {
   display: flex;
   align-items: center;
   font-size: 1rem;
   font-weight: 400;
   cursor: pointer;
   color: #202124;
}

.switch-control input[type="checkbox"] {
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   background: #ccc;
   box-shadow: inset 0 0 5px rgb(0 0 0 / 20%);
   display: flex;
   width: 2.25rem;
   height: 1.125rem;
   border-radius: 1.25rem;
   align-items: center;
   justify-content: center;
   transition: .15s;
   cursor: pointer;
}

.switch-control input[type="checkbox"]::before {
   content: '';
   position: absolute;
   width: 1.325rem;
   height: 1.325rem;
   border-radius: 50%;
   top: 50%;
   left: 0;
   transform: translateY(-50%);
   background: #fff;
   box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
   transition: .15s;
}

.switch-control input[type="checkbox"]:checked {
   background: #1a73e847;
}

.switch-control input[type="checkbox"]:checked::before {
   left: 1rem;
   background: #1a73e8;
}

.select-control {
   position: relative;
   height: 3.5rem;
   width: 100%;
   display: block;
   z-index: 10;
}

.select-control .select {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border: 1.5px solid #ccc;
   border-radius: .25rem;
   font-size: 1rem;
   background: #fff;
   z-index: 10;
   padding: .75rem 1rem .875rem;
   transition: .15s;
}

.select-control .select label {
   position: absolute;
   padding: 0 .25rem;
   background: #fff;
   color: rgba(32, 33, 36, .5);
   font-size: 1rem;
   transition: .25s ease;
   z-index: 9;
   left: .65rem;
   top: 1.1rem;
}

.select-control .select .material-symbols-rounded {
   font-size: 1.5rem;
   transition: .15s;
   color: #202124;
   opacity: .5;
   position: absolute;
   right: .75rem;
   top: .875rem;
}

.select-control.expanded .select .material-symbols-rounded {
   transform: rotate(-180deg);
}

.select-control .select-dropdown {
   display: none;
   background: #fff;
   border-radius: 0 0 .25rem .25rem;
   box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.select-control.expanded .select-dropdown {
   display: block;
}

.select-control .select-items {
   max-height: 300px;
   overflow-y: auto;
}

.select-control .select-items::-webkit-scrollbar {
   display: none;
}

.select-control .select-items li {
   height: 3rem;
   border-radius: .25rem;
   font-size: 1rem;
   display: flex;
   align-items: center;
   cursor: pointer;
   padding-left: 1rem;
   padding-right: 1rem;
}

.select-control .select-items li:hover,
.select-control .select-items li.selected {
   background: #f2f2f2;
}

.text-btn {
   color: #1a73e8;
   padding: 0 .5rem;
   min-width: 4rem;
   margin: 0 auto;
   font-family: system-ui, sans-serif;
   font-size: .875rem;
   font-weight: 500;
   text-transform: uppercase;
   letter-spacing: 0.0892857143em;
   height: 2.25rem;
   border-radius: .25rem;
   line-height: inherit;
   overflow: visible;
}

.text-btn:hover {
   background: rgba(26, 115, 232, 0.08);
}